body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}


/* Container for the left-hand configuation window (produced by clicking the hamburger menu) */
#configuration-window {
    background-color: #f3f3f3;
    display: none;
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    left: 0;
    height: 100%;
    width: 90%; /* Set default width to 90% */
    max-width: 800px; /* Maximum width for larger screens */
    /*padding: 10px;*/
    box-sizing: border-box; /* Include padding in width calculation */
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow-y: auto;
    border-right: 2px solid grey;
}

#configuration-window .configuaration-section-container {
    display: flex;
    flex-direction: column;
}

#configuration-window .configuration-section {
    background-color: white;
    border-radius: 15px; /* Rounded corners */
    padding: 10px;
    margin: 5px;
}

.section-title {
    display: inline-block;
    margin-bottom: 10px;
}

#configuration-window h2 {
    margin-top: 0;
}

#configuration-window button {
    margin-top: 10px;
    height: 40px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#configuration-window button:disabled {
    opacity: 0.5;  /* Makes the button semi-transparent */
    cursor: not-allowed;  /* Changes the cursor to indicate it's not clickable */
    background-color: #ccc;  /* Changes the background color */
    color: #666;  /* Changes the text color */
    border-color: #999;  /* Changes the border color */
}

.status-icon {
    height: 40px;
    margin-top: 10px;
}

#configuration-window button:hover {
    background-color: #555;
}

#configuration-window .config-panel-selector-button {
    background: none;
}

#configuration-window .config-panel-selector-button:hover {
    background: #ffffff;
}

#configuration-window .config-panel-icon-image {
    width: 50px;
    height: 50px;
}

#close-config-container {
    overflow: hidden;
}

#logs-selection-buttons-section {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#logs-next-prev-button-area {
    display: flex;
    gap: 10px; /* Adjust the gap value to control spacing between buttons */

}

#logs-display-section {
    margin: 5px;
    overflow-y: auto;
    overflow-x: auto;
}


#close-config-button-container {
    justify-content: flex-end; /* Aligns the button to the right */
    background: none; 
    margin: 5px;
}

#close-config-button {
    background: none; /* Remove default background */
    background-color: transparent !important;
    border: none; /* Remove default border */
    cursor: pointer; /* Add pointer cursor */
    padding: 0 !important; /* Remove default padding */
    margin: 0 !important;
    display: inline-block; /* Better than default inline-flex */
}

#close-config-button:hover {
    background: none;
    background-color: transparent;
}

.close-button-icon-image {
    height: 40px; /* Adjust the size as needed */
    width: 40px; /* Adjust the size as needed */
    display: block;
    margin: 0;
    vertical-align: top;
}

#panel-buttons {
    margin: 5px;
}

#panel-buttons button {
  margin: 0;
  padding: 0; /* Remove default button padding */
}

#set-initial-admin-password-window {
    display: none;
}

/* Message window displayed prior to the login screen when initially contacting the camera */
#boot-message-window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

/* Style of the message that displays when initially contacting the camera */
.initial-message-class {
    font-size: 2em; /* Adjust the size as needed */
    font-weight: bold;
}

/* Contains the nav-bar and video display div */
#main-window {
    display: none;
    text-align: center;
    flex-direction: column;
    height: 100%;
}

/* The navigation bar in the main window above the video feed */
#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #333;
    color: white;
    flex-shrink: 0;
    height: 30px;
}

/* Display in the middle of the nav bar */
#middle-text {
    flex-grow: 1;
    text-align: center;
}

/* Div that holds the video image */
#video-container {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    flex-grow: 1;
    height: calc(100vh - 40px); /* Subtract nav-bar height from viewport height */
    width: 100%; /* Ensure full width */
}

/* Expand the video image to 100% */
#video-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Window asking for the initial password when the software is first booted */
#set-initial-admim-password-window {
    display: none;
}

/* Window asking the user to login prior to display of video */
#login-window {
    display: none;
}

/* Styling for one panel of the config settings */
.config-panel {
     
}

#user-management-panel {
     display: block; 
}

#security-panel {
     display: none; 
}

#camera-config-panel{
     display: none; 
}



/* Styling that produces the 3 bar hamburger menu icon */
.hamburger-menu-class {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

/* A single bar from the hamburger icon */
.bar {
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;
}

/* Display all the HTML elements in a columnar list */
.vertical-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap as needed */
    width: fit-content;
}

/* When in a vertical-list, display specific elements side by side*/
.side-by-side {
        display: flex;
        gap: 10px; /* Space between the button and image */
        align-items: center; /* Vertically center the items */
}

.status-icon {
    display: none;
}

.password-field {
    width: 200px;
}

#user-list-table {
    padding-top: 10px;
    padding-bottom: 10px;
}

#modal-dialogue-box {
    display: none; 
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
}

#modal-dialogue-content {
    background-color: white; /* Opaque white background */
    padding: 20px;
    border: 2px solid #007BFF; /* Add a border */
    border-radius: 8px; /* Optional: rounded corners */
    width: 80%;
    max-width: 300px; /* Optional: limit the width of the modal */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Optional: add a shadow */
    
}

#modal-dialogue-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
