<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/script.js')}}"></script> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Security Camera</title>
</head>
<body>
    
    <div id="set-initial-admin-password-window" class="admin-pass-window">
    	  <p>Set Admin Username and Password</p>
      <input id="setInitialUsername" placeholder="admin user name">
	  <input type="password" id="setInitialPasswordText1" placeholder="Enter password">
	  <input type="password" id="setInitialPasswordText2" placeholder="Confirm password">
	  <p id="setInitialPassMessage"></p>
	  <button id="setInitialPassButton" disabled>Set Password</button>
    </div>
    
    <div id="login-window">
      <p>Login</p>
      <input id="loginUsername" placeholder="user name">
	  <input type="password" id="loginPassword" placeholder="password">
	  <button id="loginButton">Authenticate</button>
	  <p id="loginMessage"></p>
    </div>
    
    <div id="main-window">
        <div id="nav-bar">
            <div id="hamburger-menu" class="hamburger-menu-class">
                <div class="bar"></div><div class="bar"></div><div class="bar"></div>
            </div>
            <div id="middle-text">Middle</div> 
            <button onclick="logout();" id="logout-button">Logout</button>
        </div>
        <div id="video-container">
            
        </div>
    </div>
    
    <div id="configuration-window">
    
        <div id="panel-selector">
            <button class="config-panel-selector-button" onclick="switchConfigPanel('user')">
                <img class="config-panel-icon-image" src="static/icons/Faenza-emblem-people.svg" alt="User account settings">
            </button>
            <button class="config-panel-selector-button" onclick="switchConfigPanel('camera')">
                <img class="config-panel-icon-image" src="static/icons/Faenza-camera-web.svg" alt="Camera settings">
            </button>
            <button class="config-panel-selector-button" onclick="switchConfigPanel('security')">
                <img class="config-panel-icon-image" src="static/icons/Faenza-lock.svg" alt="Security settings">
            </button>
            
            <button id="close-config" class="config-panel-selector-button" onclick="displayPanel()">
                <img class="config-panel-icon-image" src="static/icons/Faenza-edit-delete-symbolic.svg" alt="Camera Options">
            </button>
        </div>
        
        <div id="user-management-panel" >
            <div class="configuaration-section-container">
                <div id="user-management-section" class="configuration-section" >
                    <span>Manage Camera Users</span>
                    <div id="user-list-table">
                    </div>
                    <div class="vertical-list">
                        <input id="new-username-field" placeholder="new username">
                        <input id="new-user-password-field" type="password" placeholder="initial password">
                        <div class="side-by-side">
                            <input type="radio" id="account-type-view-only" name="account-type-select" value="view-only" checked>
                            <label for="account-type-view-only">View Only</label>
                            <input type="radio" id="account-type-admin" name="account-type-select" value="admin" >
                            <label for="account-type-admin">Full Admin</label>
                        </div>
                        <button id="add-new-user-button" onclick="addNewUser()" disabled >Add User</button>
                        <span id="add-new-user-info"></span>
                    </div>  
                </div>
                <div id="app-key-management-section" class="configuration-section" >
                    <span>Manage Application Keys</span>
                    <div id="app-key-list-table">
                    </div>
                    <button id="generate-app-key-button" onclick="generate_appkey()" >New App Key</button>
                    <span id="appkey-display-span"></span>
                </div>
                <div id="change-user-password-section" class="configuration-section" >
                    <span>Change Current User Password</span>
                    <div class="vertical-list">
                        <label for="changeOriginalText">Current password:</label>
                        <input class="password-field" type="password" id="change-password-original-pass-field" placeholder="Current password">
                        <label for="changePassText1">New password:</label>
                        <input class="password-field" type="password" id="change-password-newpass-field" placeholder="New password">
                        <input class="password-field" type="password" id="change-password-verify-field" placeholder="Confirm new password">
                        <div class="side-by-side">
                            <button disabled id="change-user-pass-button">Change Password</button>
                            <img id="password-change-status-icon" class="status-icon" src="static/icons/green-tick.svg" alt="Operation status icon">
                        </div>
                        <span id="password-change-info"></span>
                    </div>
                </div> 
            </div>
        </div>

        <div id="camera-config-panel" >
            <div id="camera-parameters-section" class="configuration-section" >
                <div class="vertical-list">
                    <label for="camera-resolutions-select">Camera resolution:</label>
                    <select id="camera-resolutions-select"></select>
                    <label for="camera-rotation-select">Rotate camera:</label>
                    <select id="camera-rotation-select">
                        <option value="0">No rotation</option>
                        <option value="90">90 degrees</option>
                        <option value="180">180 degrees</option>
                        <option value="270">270 degrees</option>
                    </select>
                    <button onclick="saveConfig();">Save Changes</button>
                </div>
            </div>
        </div>
        
        <div id="security-panel" >
            <div id="ip-block-section" class="configuration-section" >
                <div class="vertical-list">
                    <div class="side-by-side">
                        <input type="radio" id="any-ip-radio" name="ips-allowed" value="any-ip" checked>
                        <label for="any-ip-radio">Any IP can access camera</label>
                    </div>
                    <div class="side-by-side">
                        <input type="radio" id="allowed-ips-radio" name="ips-allowed" value="allowed-ips">
                        <label for="allowed-ips-radio">Only below IP ranges can access camera</label>
                    </div>
                    <label for="allowed-ip-list">List of allowed IP ranges:</label>
                    <textarea id="allowed-ip-list" name="allowed-ip-list" placeholder="192.168.*" rows="4" cols="25"></textarea>
                    <button onclick="saveConfig();" id="config-save-changes-button">Save Changes</button>
                </div>
            </div>
        </div>
        
        <div id="logs-panel" >
        </div>
          
    </div>
    <div id="message-window">
        <span id="initial-message" class="initial-message-class">Contacting camera...</span>
    </div>
    

    <script>var csrfToken = "{{ csrf_token }}";</script>
    <script>addEventListeners();</script>
    <script>setWindowVisibilityState();</script>
</body>
</html>
